@import '/src/styles/_variable.scss';
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');

.top {
  min-height: 100%;  
  margin-top: 30px;  
}

/*text styling*/
h1 {
  font-family: 'Abril Fatface', serif;;
  color: $white;
  text-align: center;
  font-size: 9em;
  margin: 0;
  text-shadow: -1px 0 $gray, 0 1px $gray, 1px 0 $gray, 0 -1px $gray;
}
h3 {
  font-family: 'Lato', sans-serif;;
  font-size: 2em;
  text-transform: uppercase;
  text-align: center;
  color: $gray;
  margin-top: -20px;
  font-weight: 900;
}