 
h1 {
    text-align: center;   
}

.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  } 

.cart__title {
font-family: 'Geometria', sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
    color: #BFC0C0;
    margin-top: 0px;    
    font-weight: 900;
}
// .top {
//     flex: 1 0 80%;
//     width: calc(240px + 2fr);
// }
.cart__items {
    flex: 1 0 80%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
    flex-grow:  1;
}
    
.cart__summary {
    flex: 0 0 20%;
    align-self: start; ;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    padding: 5px;
}
.cart__wrapper {
    display: flex;
    gap: 15px;
}
.summary__title {
    text-align: center;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    text-transform: uppercase;
    color: #000000;
}

.summary__input {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 3px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 55%;
    height: 40px;
    border: 1px solid #CCCCCC;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #6A6A6A;
    text-transform:uppercase;
}
.summary__buy {
    display: block;
    margin: 0 auto;    
}
.summary__product-value, .summary__total-value {
    font-weight: 600;
}

.summary__btn {
    width: 40%;
    height: 40px;
    background: #F5F5F5;
    border-radius: 5px;
    border: 2px solid #009FDF;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: #009FDF;
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.15);
    &:hover {
      background: #009FDF;
      color: #F5F5F5;
    }
    &:disabled {
      background: #F5F5F5;
      color: #6A6A6A;
      border: 2px solid #6A6A6A;
  }

 }
.summary__buttons {
    margin-top: 10px;
    margin-bottom: 20px;
}
.promo__items {
    margin-top: 3px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.promo__item {
    display:flex;
    
}
.promo__item > button {
    margin-left: auto;
}
.promo__item-name{
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #495955;
}
.promo__item-discount {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #009FDF;
}
.promo__item-remove {
    background: linear-gradient(90deg, #0099DC 7.09%, #3CC39D 93.66%);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;    
    border: 2px solid #009FDF;
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: white;
  } 
  
  .promo__item-remove:hover {
    color:#009FDF;    
    background: white;
    border-radius: 5px;
    border: 2px solid #009FDF;
  }
  .summary__product-value,
  .summary__not-promo,
  .summary__total-value {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    padding-left: 5px;
  }
  .summary__not-promo {
    color: red;
    text-decoration: line-through; 
  }
  .summary__subtitle {
    font-family: 'Geometria';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
  @media (max-width: 1079px) {
    
  }
  
  @media (max-width: 779px) {
 
}