:root {
  --gap-cards: 20px;
  --cards-in-row: 4;
  --cards-multiplier: 1;
  --btn-width: 48%;
  --primary: #2196F3;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

@media (max-width: 1079px) {
  :root {
    --gap-cards: 10px;
    --cards-in-row: 4;
  }

  .card__btns {
    flex-direction: column;
    gap: 0.5em;
  }

  .card__btn {
    width: 100%;
  }
}